In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [2]:
df = pd.read_csv('/aiffel/data/fraud.csv')

In [3]:
pd.set_option('display.max_columns', 50)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 491134 entries, 0 to 491133
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  491134 non-null  object
 1   cc_num                 491134 non-null  int64
 2   merchant               491134 non-null  object
 3   category               491134 non-null  object
 4   amt                    491134 non-null  float64
 5   first                  491134 non-null  object
 6   last                   491134 non-null  object
 7   gender                 491134 non-null  object
 8   street                 491134 non-null  object
 9   city                   491134 non-null  object
 10  state                  491134 non-null  object
 11  zip                    491134 non-null  int64
 12  lat                    491134 non-null  float64
 13  long                   491134 non-null  float64
 14  city_pop               491134 non-null  int64
 15  job                    491134 non-null  object
 16  dob                    491134 non-null  object
 17  trans_num              491134 non-null  object
 18  unix_time              491134 non-null  int64
 19  merch_lat              491134 non-null  float64
 20  merch_long             491134 non-null  float64
 21  is_fraud               491134 non-null  int64
dtypes: float64(5), int64(5), object(12)
memory usage: 82.4+ MB

In [5]:
df['trans_num'].nunique() # column 갯수와 trans_num의 nunique() 갯수가 같아. 중복되거나 하는 부분 없어서 무시.

491134

In [6]:
df[(df['city'] == 'Orient') & (df['cc_num'] == 630423337322)]

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
66,2019-01-01 04:57:58,630423337322,"fraud_Streich, Hansen and Veum",gas_transport,61.39,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,9825a8292f6b25bb7d54b253bb3336f6,1325393878,48.394218,-117.363563,0
82,2019-01-01 06:24:47,630423337322,fraud_Harber Inc,gas_transport,94.48,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,c9235f76ecb45e67372d79ecac2ffb37,1325399087,49.513555,-117.819653,0
280,2019-01-01 15:27:33,630423337322,"fraud_Romaguera, Wehner and Tromp",kids_pets,92.48,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,f16d17932951db1e8664b82c65fd0da9,1325431653,48.491798,-117.466434,0
327,2019-01-01 16:26:25,630423337322,fraud_Hermann-Gaylord,misc_pos,1.93,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,04a953c9601dd378f92d2b77c342e436,1325435185,49.002189,-117.977232,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490736,2020-12-31 16:49:40,630423337322,fraud_Kris-Padberg,shopping_pos,2.86,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,55b0c424fe13efb5b4d7e4a5a1802c4a,1388508580,49.493476,-117.630467,0
491035,2020-12-31 22:14:48,630423337322,fraud_Volkman-Predovic,shopping_net,4.42,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,dbc7ad2cd617a7e74d3702caf58280e6,1388528088,49.750832,-117.291789,0
491061,2020-12-31 22:39:40,630423337322,fraud_Fahey Inc,kids_pets,15.36,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,c8293fa209d6a6bb5a6bbaf9f63034af,1388529580,49.089588,-118.147139,0
491094,2020-12-31 23:11:11,630423337322,"fraud_Nitzsche, Kessler and Wolff",shopping_pos,4.03,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,3e900b6f181a803dbb2d5318cdcf83fc,1388531471,49.587481,-117.767540,0
491101,2020-12-31 23:17:42,630423337322,fraud_White and Sons,home,6.49,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,698732c2dfac4de0792d05130558bb5d,1388531862,48.292565,-117.388332,0

In [7]:
df[(df['city'] == 'Orient')] # 위의것과 column 개수 같아. 같은 사람이 다른 곳 갈 이유 없는 상황이 정상일 것임 확인.

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
66,2019-01-01 04:57:58,630423337322,"fraud_Streich, Hansen and Veum",gas_transport,61.39,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,9825a8292f6b25bb7d54b253bb3336f6,1325393878,48.394218,-117.363563,0
82,2019-01-01 06:24:47,630423337322,fraud_Harber Inc,gas_transport,94.48,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,c9235f76ecb45e67372d79ecac2ffb37,1325399087,49.513555,-117.819653,0
280,2019-01-01 15:27:33,630423337322,"fraud_Romaguera, Wehner and Tromp",kids_pets,92.48,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,f16d17932951db1e8664b82c65fd0da9,1325431653,48.491798,-117.466434,0
327,2019-01-01 16:26:25,630423337322,fraud_Hermann-Gaylord,misc_pos,1.93,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,04a953c9601dd378f92d2b77c342e436,1325435185,49.002189,-117.977232,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490736,2020-12-31 16:49:40,630423337322,fraud_Kris-Padberg,shopping_pos,2.86,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,55b0c424fe13efb5b4d7e4a5a1802c4a,1388508580,49.493476,-117.630467,0
491035,2020-12-31 22:14:48,630423337322,fraud_Volkman-Predovic,shopping_net,4.42,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,dbc7ad2cd617a7e74d3702caf58280e6,1388528088,49.750832,-117.291789,0
491061,2020-12-31 22:39:40,630423337322,fraud_Fahey Inc,kids_pets,15.36,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,c8293fa209d6a6bb5a6bbaf9f63034af,1388529580,49.089588,-118.147139,0
491094,2020-12-31 23:11:11,630423337322,"fraud_Nitzsche, Kessler and Wolff",shopping_pos,4.03,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,3e900b6f181a803dbb2d5318cdcf83fc,1388531471,49.587481,-117.767540,0
491101,2020-12-31 23:17:42,630423337322,fraud_White and Sons,home,6.49,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,698732c2dfac4de0792d05130558bb5d,1388531862,48.292565,-117.388332,0

In [8]:
df.describe()

,cc_num,amt,zip,lat,long,city_pop,unix_time,merch_lat,merch_long,is_fraud
count,4.911340e+05,491134.000000,491134.000000,491134.000000,491134.000000,4.911340e+05,4.911340e+05,491134.000000,491134.000000,491134.000000
mean,3.706013e+17,69.050120,50770.532384,37.931230,-90.495619,1.213922e+05,1.358730e+09,37.930272,-90.495411,0.002533
std,1.260229e+18,160.322867,26854.947965,5.341193,12.990732,3.725751e+05,1.819402e+07,5.372986,13.004100,0.050264
min,5.038744e+11,1.000000,1843.000000,24.655700,-122.345600,4.600000e+01,1.325376e+09,23.655789,-123.345106,0.000000
25%,2.131124e+14,8.960000,28405.000000,33.746700,-97.235100,1.228000e+03,1.343087e+09,33.781388,-96.984814,0.000000
50%,3.531130e+15,42.170000,49628.000000,38.507200,-87.591700,5.760000e+03,1.357257e+09,38.545124,-87.573441,0.000000
75%,4.653879e+15,80.330000,75048.000000,41.520500,-80.731000,5.083500e+04,1.374626e+09,41.624294,-80.685567,0.000000
max,4.956829e+18,25086.940000,99323.000000,48.887800,-69.965600,2.906700e+06,1.388534e+09,49.887523,-68.965624,1.000000

In [9]:
df.isna().mean() # 좋음.

trans_date_trans_time    0.0
cc_num                   0.0
merchant                 0.0
category                 0.0
amt                      0.0
first                    0.0
last                     0.0
gender                   0.0
street                   0.0
city                     0.0
state                    0.0
zip                      0.0
lat                      0.0
long                     0.0
city_pop                 0.0
job                      0.0
dob                      0.0
trans_num                0.0
unix_time                0.0
merch_lat                0.0
merch_long               0.0
is_fraud                 0.0
dtype: float64

In [10]:
df[df['amt'] >= 25086 ] # 값 커서 봤더니 여행갔음...  부럽다. 정상.

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
93045,2019-06-14 20:15:38,5540636818935089,fraud_Hackett Group,travel,25086.94,Kenneth,Foster,M,329 Michael Extension,Lawrence,MA,1843,42.6911,-71.1605,76383,Geoscientist,1985-04-04,0b902a1e549c98b949444a7557da2403,1339704938,42.397174,-71.474163,0

In [11]:
# def search_common(col1,col2):
#     unique_col1 = []
#     unique_col1_cnt = [0 for _ in range(1001)]
#     unique_col2 = []
#     unique_col2_cnt = [0 for _ in range(1001)]
    
#     for i in col1:
#         if len(unique_col1) == 0:
#             unique_col1.append(i)
#             unique_col1_cnt[unique_col1.index(i)-1] +=1       
#         else:
#             for j in range(0:len(unique_col1)):
#                 if unique_col1[j] == i:
#                     u
                    
#                 elif unique_col1 !=

In [12]:
import pandas as pd

def search_common(df, col1, col2):
    unique_values = df[col1].unique()
    
    result = []

    # 각 unique한 col1 값에 대해 col2에서의 관계 확인
    for val in unique_values:
        filtered_df = df[df[col1] == val]
        col2_counts = filtered_df[col2].value_counts().to_dict()
        
        result.append({
            col1: val,
            "col2_counts": col2_counts  # col2 값들의 빈도수 딕셔너리 형태로 저장
        })

    # 결과를 DataFrame으로 변환
    result_df = pd.DataFrame(result)

    return result_df

# 실행
result_df = search_common(df, 'cc_num', 'street' )


# 또는 Jupyter Notebook에서는 display() 사용
from IPython.display import display
display(result_df)

# col1과 co2의 관계를 count 하여 unique() 개수와 비교하는 과정을 통해 서로 같이 움직이는 데이터인지를 1차 확인.

                  cc_num                             col2_counts
0           630423337322  {'43039 Riley Greens Suite 393': 4362}
1    4956828990005111019            {'269 Sanchez Rapids': 3657}
2        180048185037117               {'2481 Mills Lock': 4382}
3        374930071163758              {'61390 Hayes Port': 3647}
4       2712209726293386    {'50872 Alex Plain Suite 088': 4372}
..                   ...                                     ...
119     3521417320836166                {'08236 Kim Hill': 4371}
120     4005676619255478  {'458 Phillips Island Apt. 768': 3638}
121      180031190491743    {'250 Benjamin Hill Apt. 026': 3655}
122      372520049757633          {'4293 Ramirez Squares': 4376}
123     5540636818935089         {'329 Michael Extension': 3652}

[124 rows x 2 columns]

In [13]:

for col in df.columns:
    print(f'{col} : counts')
    print(df[col].nunique()) #각 nunique 확인

trans_date_trans_time : counts
488474
cc_num : counts
124
merchant : counts
693
category : counts
14
amt : counts
36446
first : counts
92
last : counts
102
gender : counts
2
street : counts
124
city : counts
121
state : counts
44
zip : counts
124
lat : counts
124
long : counts
124
city_pop : counts
122
job : counts
110
dob : counts
123
trans_num : counts
491134
unix_time : counts
488477
merch_lat : counts
484503
merch_long : counts
487445
is_fraud : counts
2

In [14]:
import pandas as pd

def search_common(df, col1, col2):
    # col1과 col2의 고유한 조합 찾기
    grouped = df.groupby([col1, col2]).size().reset_index(name='count')

    return grouped  # 두 컬럼의 관계를 1:1 매핑하여 반환


# 실행 (job과 cc_num 간의 관계)
result_df = search_common(df, 'cc_num', 'job' )

# 결과 확인
from IPython.display import display
display(result_df)

                  cc_num                                  job  count
0           503874407318                  Exhibition designer   3655
1           567868110212              Copywriter, advertising   3644
2           571365235126  Exhibitions officer, museum/gallery   4374
3           581686439828                  Retail merchandiser   3653
4           630423337322    Special educational needs teacher   4362
..                   ...                                  ...    ...
119  4792627764422477317              Chief Executive Officer   4357
120  4797297220948468262                           Counsellor   3653
121  4861310130652566408             Surveyor, rural practice   3643
122  4906628655840914250                         Town planner   3655
123  4956828990005111019               Operational researcher   3657

[124 rows x 3 columns]

In [15]:
df['cc_num'].nunique() # 위의 데이터의 row 값이 동일하니 서로 같이 움직이는 데이터임을 확인.

124

In [16]:
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time']) #object 마음에 안듦

In [17]:
df['trans_date_trans_time'].sort_values() #변환헤서 확인.

0        2019-01-01 00:00:44
1        2019-01-01 00:12:34
2        2019-01-01 00:17:16
3        2019-01-01 00:20:15
4        2019-01-01 00:23:41
                 ...
491129   2020-12-31 23:56:48
491130   2020-12-31 23:56:57
491131   2020-12-31 23:59:09
491132   2020-12-31 23:59:15
491133   2020-12-31 23:59:34
Name: trans_date_trans_time, Length: 491134, dtype: datetime64[ns]

In [18]:
df['trans_date_trans_time'].nunique()

488474

In [19]:
df['unix_time'].nunique()

488477

In [20]:
df[df['is_fraud'] == 1].head(10)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
4794,2019-01-12 00:59:01,581686439828,"fraud_Zieme, Bode and Dooley",gas_transport,11.73,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,77c44b4cff9a624f54d389887605dbb2,1326329941,41.947427,-79.796264,1
4816,2019-01-12 03:48:07,581686439828,fraud_Koepp-Witting,grocery_pos,328.68,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,90e7917ee506a5b1ea068bdf2fac064b,1326340087,42.148618,-79.398595,1
4979,2019-01-12 15:46:10,581686439828,fraud_Abernathy and Sons,food_dining,120.58,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,aaac448ccb3f869994c4f1cad95dba18,1326383170,42.470024,-80.126576,1
5073,2019-01-12 19:53:59,581686439828,fraud_Boyer-Reichert,shopping_net,1081.35,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,8545f40c91a37f8015749b0f962cff20,1326398039,42.455406,-79.521640,1
5124,2019-01-12 22:44:05,581686439828,fraud_Fisher-Schowalter,shopping_net,776.70,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,3b6d88a3c7349cb3ee408bce6e4ffac2,1326408245,40.680209,-79.099101,1
5160,2019-01-13 00:49:04,180031190491743,fraud_Hermann and Sons,shopping_pos,952.08,Becky,Mckinney,F,250 Benjamin Hill Apt. 026,Mobile,AL,36617,30.7145,-88.0918,270712,"Surveyor, land/geomatics",1972-01-05,7eb9b1814acf9db55a170d8d9e5497ee,1326415744,30.803533,-88.140115,1
5171,2019-01-13 01:31:07,180031190491743,fraud_Gleason-Macejkovic,shopping_net,1060.34,Becky,Mckinney,F,250 Benjamin Hill Apt. 026,Mobile,AL,36617,30.7145,-88.0918,270712,"Surveyor, land/geomatics",1972-01-05,36fab39dc4c5d0fdda638c7d2c72957d,1326418267,31.602312,-88.685518,1
5240,2019-01-13 07:26:22,581686439828,fraud_Koepp-Witting,grocery_pos,308.84,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,4b0bb07d70781956a70549795582c9e6,1326439582,42.194299,-80.572425,1
5341,2019-01-13 13:32:07,180031190491743,fraud_Schaefer Ltd,kids_pets,19.19,Becky,Mckinney,F,250 Benjamin Hill Apt. 026,Mobile,AL,36617,30.7145,-88.0918,270712,"Surveyor, land/geomatics",1972-01-05,2c0ba943e985120ed416b9bfd2a4a984,1326461527,30.917934,-88.582726,1
5453,2019-01-13 17:01:46,581686439828,fraud_Volkman-Predovic,shopping_net,1033.78,Larry,House,M,911 Sabrina Trafficway,Cochranton,PA,16314,41.5205,-80.0573,5507,Retail merchandiser,1973-07-28,6ba68638101b4e6bbdbc1dd12bbb7163,1326474106,41.609588,-80.173127,1

In [21]:
df_human = list(df.columns[[1,2]])+list(df.columns[5:17]) #반복 진행해보니 해당 부분들은 같이 움직인다.

In [22]:
df_human.remove('merchant')

In [23]:
df_human = df[df_human] #사람 신상정보만 묶었다

In [24]:
df_human #분석은 다른걸로하고 사람 이름같은거찾을때 찾는 용도.

,cc_num,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob
0,630423337322,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21
1,4956828990005111019,Kenneth,Robinson,M,269 Sanchez Rapids,Elizabeth,NJ,7208,40.6747,-74.2239,124967,Operational researcher,1980-12-21
2,180048185037117,Mary,Wall,F,2481 Mills Lock,Plainfield,NJ,7060,40.6152,-74.4150,71485,Leisure centre manager,1974-07-19
3,374930071163758,Daniel,Escobar,M,61390 Hayes Port,Romulus,MI,48174,42.2203,-83.3583,31515,Police officer,1971-11-05
4,2712209726293386,Jenna,Brooks,F,50872 Alex Plain Suite 088,Baton Rouge,LA,70808,30.4066,-91.1468,378909,"Designer, furniture",1977-02-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,6011109736646996,Rebecca,Erickson,F,594 Berry Lights Apt. 392,Wilmington,NC,28405,34.2651,-77.8670,186140,English as a second language teacher,1983-02-08
491130,213112402583773,Ana,Howell,F,4664 Sanchez Common Suite 930,Bradley,SC,29819,34.0326,-82.2027,1523,Research scientist (physical sciences),1984-06-03
491131,3556613125071656,Jose,Vasquez,M,572 Davis Mountains,Lake Jackson,TX,77566,29.0393,-95.4401,28739,Futures trader,1999-12-27
491132,6011724471098086,Ann,Lawson,F,144 Evans Islands Apt. 683,Burbank,WA,99323,46.1966,-118.9017,3684,Musician,1981-11-29
491133,4170689372027579,Samuel,Frey,M,830 Myers Plaza Apt. 384,Edmond,OK,73034,35.6665,-97.4798,116001,Media buyer,1993-05-10

In [25]:
# df['column_name'].str.isnumeric()

In [26]:
df_data = df.drop(columns=df_human.columns)

In [27]:
df_data = df_data.merge(df[['cc_num','trans_date_trans_time']], on ='trans_date_trans_time' )
# 이 부분으로 분석하고 사람과의 관계성은 'cc_num' 행으로 연결되어있으니 필요하면 'cc_num'으로 데이터 적용하기

In [28]:
df_data.head()

,trans_date_trans_time,merchant,category,amt,trans_num,unix_time,merch_lat,merch_long,is_fraud,cc_num
0,2019-01-01 00:00:44,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,630423337322
1,2019-01-01 00:12:34,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0,4956828990005111019
2,2019-01-01 00:17:16,fraud_Kling-Grant,grocery_net,46.28,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0,180048185037117
3,2019-01-01 00:20:15,fraud_Deckow-O'Conner,grocery_pos,64.09,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0,374930071163758
4,2019-01-01 00:23:41,fraud_Balistreri-Nader,misc_pos,25.58,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0,2712209726293386

In [29]:
#unix_time과 trans_date_trans_time는 같은 역할을 하므로 unix_time을 제거. 
df_data = df_data.drop(columns=['unix_time'])

In [30]:
df_data.merge(df[['lat','long','trans_date_trans_time']], on ='trans_date_trans_time' ) #행이 이상하다.. 처음부터다시

,trans_date_trans_time,merchant,category,amt,trans_num,merch_lat,merch_long,is_fraud,cc_num,lat,long
0,2019-01-01 00:00:44,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,1f76529f8574734946361c461b024d99,49.159047,-118.186462,0,630423337322,48.8878,-118.2105
1,2019-01-01 00:12:34,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,09eff9c806365e2a6be12c1bbab3d70e,40.079588,-74.848087,0,4956828990005111019,40.6747,-74.2239
2,2019-01-01 00:17:16,fraud_Kling-Grant,grocery_net,46.28,19e23c6a300c774354417befe4f31f8c,40.021888,-74.228188,0,180048185037117,40.6152,-74.4150
3,2019-01-01 00:20:15,fraud_Deckow-O'Conner,grocery_pos,64.09,6f363661ba6b55889e488dd178f2a0af,42.360426,-83.552316,0,374930071163758,42.2203,-83.3583
4,2019-01-01 00:23:41,fraud_Balistreri-Nader,misc_pos,25.58,1654da2abfb9e79a5f99167fc9779558,29.737426,-90.853194,0,2712209726293386,30.4066,-91.1468
...,...,...,...,...,...,...,...,...,...,...,...
507257,2020-12-31 23:56:48,fraud_Botsford and Sons,home,134.26,fc860b0d1f89b0b068c9c8db27b6bcc5,34.853497,-78.664158,0,6011109736646996,34.2651,-77.8670
507258,2020-12-31 23:56:57,"fraud_Baumbach, Hodkiewicz and Walsh",shopping_pos,25.49,0f0c38fe781b317f733b845c0d6ba448,35.008839,-81.475156,0,213112402583773,34.0326,-82.2027
507259,2020-12-31 23:59:09,fraud_Hoppe-Parisian,kids_pets,111.84,2090647dac2c89a1d86c514c427f5b91,29.661049,-96.186633,0,3556613125071656,29.0393,-95.4401
507260,2020-12-31 23:59:15,fraud_Rau-Robel,kids_pets,86.88,6c5b7c8add471975aa0fec023b2e8408,46.658340,-119.715054,0,6011724471098086,46.1966,-118.9017
507261,2020-12-31 23:59:34,fraud_Dare-Marvin,entertainment,38.13,1765bb45b3aa3224b4cdcb6e7a96cee3,36.210097,-97.036372,0,4170689372027579,35.6665,-97.4798

In [31]:
my_list = list(df.columns[0:5])+list(df.columns[[12,13,17,18,19,20,21]])

In [32]:
df_dataa = df[my_list]

In [33]:
df_data = df_dataa

In [34]:
df_data.describe()

,cc_num,amt,lat,long,unix_time,merch_lat,merch_long,is_fraud
count,4.911340e+05,491134.000000,491134.000000,491134.000000,4.911340e+05,491134.000000,491134.000000,491134.000000
mean,3.706013e+17,69.050120,37.931230,-90.495619,1.358730e+09,37.930272,-90.495411,0.002533
std,1.260229e+18,160.322867,5.341193,12.990732,1.819402e+07,5.372986,13.004100,0.050264
min,5.038744e+11,1.000000,24.655700,-122.345600,1.325376e+09,23.655789,-123.345106,0.000000
25%,2.131124e+14,8.960000,33.746700,-97.235100,1.343087e+09,33.781388,-96.984814,0.000000
50%,3.531130e+15,42.170000,38.507200,-87.591700,1.357257e+09,38.545124,-87.573441,0.000000
75%,4.653879e+15,80.330000,41.520500,-80.731000,1.374626e+09,41.624294,-80.685567,0.000000
max,4.956829e+18,25086.940000,48.887800,-69.965600,1.388534e+09,49.887523,-68.965624,1.000000

In [35]:
df_data[ (df_data['is_fraud'] >0) & (df_data['is_fraud'] < 1 )] #소수점 없음 확인

Empty DataFrame
Columns: [trans_date_trans_time, cc_num, merchant, category, amt, lat, long, trans_num, unix_time, merch_lat, merch_long, is_fraud]
Index: []

In [36]:
df_data

,trans_date_trans_time,cc_num,merchant,category,amt,lat,long,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,48.8878,-118.2105,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
1,2019-01-01 00:12:34,4956828990005111019,"fraud_Schultz, Simonis and Little",grocery_pos,44.71,40.6747,-74.2239,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0
2,2019-01-01 00:17:16,180048185037117,fraud_Kling-Grant,grocery_net,46.28,40.6152,-74.4150,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0
3,2019-01-01 00:20:15,374930071163758,fraud_Deckow-O'Conner,grocery_pos,64.09,42.2203,-83.3583,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0
4,2019-01-01 00:23:41,2712209726293386,fraud_Balistreri-Nader,misc_pos,25.58,30.4066,-91.1468,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0
...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,fraud_Botsford and Sons,home,134.26,34.2651,-77.8670,fc860b0d1f89b0b068c9c8db27b6bcc5,1388534208,34.853497,-78.664158,0
491130,2020-12-31 23:56:57,213112402583773,"fraud_Baumbach, Hodkiewicz and Walsh",shopping_pos,25.49,34.0326,-82.2027,0f0c38fe781b317f733b845c0d6ba448,1388534217,35.008839,-81.475156,0
491131,2020-12-31 23:59:09,3556613125071656,fraud_Hoppe-Parisian,kids_pets,111.84,29.0393,-95.4401,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
491132,2020-12-31 23:59:15,6011724471098086,fraud_Rau-Robel,kids_pets,86.88,46.1966,-118.9017,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
491133,2020-12-31 23:59:34,4170689372027579,fraud_Dare-Marvin,entertainment,38.13,35.6665,-97.4798,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [37]:
df_data = df_data.drop(columns = ['merchant'])  
# 파는 사람 이름 분석하고 싶지 않아서 지우기.. 직관적으로 이름 가지고 범인스럽다고 하는건 말이 안되고 분석 하기에는 시간이 소요될것 같아서..

In [39]:
df_category = df['category'].str.split('_',expand = True) #_기준으로 세부 내용 기제되어있음

In [47]:
df_category[df_category[1] == 'pos'].value_counts()

0         1
shopping  pos    48345
grocery   pos    42722
misc      pos    32411
dtype: int64

In [46]:
df_category

                    0     1
0             grocery   pos
1             grocery   pos
2             grocery   net
3             grocery   pos
4                misc   pos
...               ...   ...
491129           home  None
491130       shopping   pos
491131           kids  pets
491132           kids  pets
491133  entertainment  None

[491134 rows x 2 columns]

In [50]:
df_category = df_category.rename({0: 'first_category', 1:'second_category' }, axis = 1)

In [53]:
df_category.isna().sum() #분석이나 머신러닝 위해서 채우자.

first_category         0
second_category    89580
dtype: int64

In [55]:
df_category = df_category.fillna('') #나중에 실제값이랑 구별 못할것 같지만 제일 깔끔한것 같다.

In [59]:
#병합.

In [57]:
df_data = pd.merge(df_data, df_category, left_index=True, right_index=True, how='inner')

In [60]:
# 위도 경도 차이 내서 확인하기. 차이값의 크기만 확인하면 되니까 유클리드 기준으로 진행.
# c^2 = a^2 +b^2

In [61]:
df_data

,trans_date_trans_time,cc_num,category,amt,lat,long,trans_num,unix_time,merch_lat,merch_long,is_fraud,first_category,second_category
0,2019-01-01 00:00:44,630423337322,grocery_pos,107.23,48.8878,-118.2105,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,grocery,pos
1,2019-01-01 00:12:34,4956828990005111019,grocery_pos,44.71,40.6747,-74.2239,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0,grocery,pos
2,2019-01-01 00:17:16,180048185037117,grocery_net,46.28,40.6152,-74.4150,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0,grocery,net
3,2019-01-01 00:20:15,374930071163758,grocery_pos,64.09,42.2203,-83.3583,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0,grocery,pos
4,2019-01-01 00:23:41,2712209726293386,misc_pos,25.58,30.4066,-91.1468,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0,misc,pos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,home,134.26,34.2651,-77.8670,fc860b0d1f89b0b068c9c8db27b6bcc5,1388534208,34.853497,-78.664158,0,home,
491130,2020-12-31 23:56:57,213112402583773,shopping_pos,25.49,34.0326,-82.2027,0f0c38fe781b317f733b845c0d6ba448,1388534217,35.008839,-81.475156,0,shopping,pos
491131,2020-12-31 23:59:09,3556613125071656,kids_pets,111.84,29.0393,-95.4401,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0,kids,pets
491132,2020-12-31 23:59:15,6011724471098086,kids_pets,86.88,46.1966,-118.9017,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0,kids,pets
491133,2020-12-31 23:59:34,4170689372027579,entertainment,38.13,35.6665,-97.4798,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0,entertainment,

In [65]:
# import math math는 df 값 못받아

distance = np.sqrt((df_data['lat']-df_data['merch_lat'])**2 + (df_data['long']-df_data['merch_long'])**2)

In [68]:
df_data['distance'] = np.sqrt((df_data['lat'] - df_data['merch_lat'])**2 + (df_data['long'] - df_data['merch_long'])**2)

In [74]:
df_data.sort_values(by = 'distance')

,trans_date_trans_time,cc_num,category,amt,lat,long,trans_num,unix_time,merch_lat,merch_long,is_fraud,first_category,second_category,distance
404198,2020-09-11 20:34:37,371226440126102,health_fitness,7.56,38.9311,-89.2463,18651b64e521cbf3fca39d5c76e0db45,1378931677,38.930981,-89.244876,0,health,fitness,0.001429
388223,2020-08-19 02:28:11,30551643947183,grocery_pos,201.09,35.1836,-81.4552,8de46be8153dd36a410dc414f26dd892,1376879291,35.182511,-81.456138,0,grocery,pos,0.001437
38620,2019-03-20 04:55:54,372509258176510,misc_net,190.93,42.9147,-83.4845,83c0c0e5f0daf553272c94054263539a,1332219354,42.912875,-83.485603,0,misc,net,0.002132
191905,2019-11-06 03:02:46,371226440126102,grocery_pos,65.00,38.9311,-89.2463,279fbe9f1eaa0b103ff3c97d5c5a0203,1352170966,38.929041,-89.244131,0,grocery,pos,0.002991
404500,2020-09-12 13:55:44,213156747557083,travel,7.93,34.1556,-118.2322,21949e04af19f8a4333439d728f4b030,1378994144,34.155660,-118.228412,0,travel,,0.003788
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415535,2020-09-29 20:42:02,2283743876903625,travel,2.32,34.0770,-84.3033,e121168435535c3f9f6002ec6969cbc4,1380487322,33.079457,-83.304333,0,travel,,1.411746
42676,2019-03-26 21:51:23,4906628655840914250,home,30.26,24.6557,-81.3824,1f36dd2c164adfdac21340dba689bd03,1332798683,25.655117,-80.384291,0,home,,1.412464
265673,2020-02-16 15:55:53,3567697931646329,shopping_pos,9.75,42.2470,-73.7552,475bc0278a09ae380d89330b8dbf925a,1361030153,43.245823,-74.754141,0,shopping,pos,1.412632
174242,2019-10-07 15:00:55,372520049757633,food_dining,1.23,48.6031,-93.2977,77f4e0b055a8d01e35b106fd7bd04c30,1349622055,47.604381,-92.297704,0,food,dining,1.413305
3289,2019-01-08 09:50:15,3521417320836166,grocery_net,41.94,39.8490,-86.2720,6e0340c064a76f85ffe7bd55f072edb7,1326016215,38.849915,-85.272298,0,grocery,net,1.413356

In [75]:
df_data.sort_values(by = 'trans_date_trans_time') #이미 정렬 잘 되어있음

,trans_date_trans_time,cc_num,category,amt,lat,long,trans_num,unix_time,merch_lat,merch_long,is_fraud,first_category,second_category,distance
0,2019-01-01 00:00:44,630423337322,grocery_pos,107.23,48.8878,-118.2105,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,grocery,pos,0.272310
1,2019-01-01 00:12:34,4956828990005111019,grocery_pos,44.71,40.6747,-74.2239,09eff9c806365e2a6be12c1bbab3d70e,1325376754,40.079588,-74.848087,0,grocery,pos,0.862420
2,2019-01-01 00:17:16,180048185037117,grocery_net,46.28,40.6152,-74.4150,19e23c6a300c774354417befe4f31f8c,1325377036,40.021888,-74.228188,0,grocery,net,0.622027
3,2019-01-01 00:20:15,374930071163758,grocery_pos,64.09,42.2203,-83.3583,6f363661ba6b55889e488dd178f2a0af,1325377215,42.360426,-83.552316,0,grocery,pos,0.239327
4,2019-01-01 00:23:41,2712209726293386,misc_pos,25.58,30.4066,-91.1468,1654da2abfb9e79a5f99167fc9779558,1325377421,29.737426,-90.853194,0,misc,pos,0.730752
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491129,2020-12-31 23:56:48,6011109736646996,home,134.26,34.2651,-77.8670,fc860b0d1f89b0b068c9c8db27b6bcc5,1388534208,34.853497,-78.664158,0,home,,0.990794
491130,2020-12-31 23:56:57,213112402583773,shopping_pos,25.49,34.0326,-82.2027,0f0c38fe781b317f733b845c0d6ba448,1388534217,35.008839,-81.475156,0,shopping,pos,1.217523
491131,2020-12-31 23:59:09,3556613125071656,kids_pets,111.84,29.0393,-95.4401,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0,kids,pets,0.971537
491132,2020-12-31 23:59:15,6011724471098086,kids_pets,86.88,46.1966,-118.9017,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0,kids,pets,0.935280
491133,2020-12-31 23:59:34,4170689372027579,entertainment,38.13,35.6665,-97.4798,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0,entertainment,,0.701517

In [78]:
df_data[df_data['category'] == 'travel' ].sort_values(by = 'distance') #여행 천차만별... 중앙값 0.7 기준으로 진행하기로

,trans_date_trans_time,cc_num,category,amt,lat,long,trans_num,unix_time,merch_lat,merch_long,is_fraud,first_category,second_category,distance
404500,2020-09-12 13:55:44,213156747557083,travel,7.93,34.1556,-118.2322,21949e04af19f8a4333439d728f4b030,1378994144,34.155660,-118.228412,0,travel,,0.003788
181876,2019-10-20 15:46:03,4003989662068504,travel,5.03,33.3224,-86.9657,f497dc120ac1a62fa08ba2f8d5412737,1350747963,33.318179,-86.960324,0,travel,,0.006835
188020,2019-10-30 19:34:57,3511378610369890,travel,7.73,34.7789,-86.5438,e1746b10f45eabc2d546bb9a89772bdd,1351625697,34.769277,-86.551585,0,travel,,0.012378
241842,2019-12-29 20:36:09,3566094707272327,travel,1.08,34.3795,-118.5230,054393e1f1341f18973e117991207df7,1356813369,34.362113,-118.536604,0,travel,,0.022077
379935,2020-08-08 23:01:17,2283743876903625,travel,1.27,34.0770,-84.3033,72a87ecb2f4de2c936b8984f4a093655,1376002877,34.100615,-84.297661,0,travel,,0.024279
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380547,2020-08-09 17:11:07,3560797065840735,travel,2.96,46.1838,-101.2589,9fc92f479b83d02acf5eb478158c7d77,1376068267,47.145583,-100.259012,0,travel,,1.387373
73392,2019-05-17 23:26:48,4681699462969,travel,3.10,35.8596,-86.4210,e30c7dd35af0003919bed8d35dbfe720,1337297208,36.827741,-85.423799,0,travel,,1.389859
273386,2020-03-03 19:22:46,30234966027947,travel,1.73,43.9446,-88.0911,7f40c181f70caec1675aab019d0611eb,1362338566,42.948482,-87.119549,0,travel,,1.391461
187635,2019-10-29 19:57:27,4587657402165341815,travel,2.58,41.0646,-87.5917,7d099f68bad49fa923ef82f39a2b3da9,1351540647,40.072874,-88.586749,0,travel,,1.404864
415535,2020-09-29 20:42:02,2283743876903625,travel,2.32,34.0770,-84.3033,e121168435535c3f9f6002ec6969cbc4,1380487322,33.079457,-83.304333,0,travel,,1.411746

In [81]:

# distance 변화량 계산
df_data['distance_diff_prev'] = df_data['distance'].diff().abs()  # 이전 값과의 차이
df_data['distance_diff_next'] = df_data['distance'].diff(-1).abs()  # 이후 값과의 차이


# 시간 차이 계산 (이전 행과 비교) → timedelta 적용
df_data['time_diff'] = df_data['trans_date_trans_time'].diff()  # 시간 차이 계산 (datetime 타입 유지)

# 조건 설정: (이전 값 차이 크고 & 이후 값 차이 크고 & 시간 차이 > 30분)
df_data['flag'] = np.where(
    (df_data['distance_diff_prev'] > 0.7) &  # 이전 값과 거리 차이 큼
    (df_data['distance_diff_next'] > 0.7) &  # 이후 값과 거리 차이 큼
    (df_data['time_diff'] > pd.Timedelta("00:30:00")),  # 시간 차이가 30분 초과
    True, False
)

In [83]:
df_data[df_data['flag'] == True] #발견. 이들의 is_fraud를 1로 변형.

,trans_date_trans_time,cc_num,category,amt,lat,long,trans_num,unix_time,merch_lat,merch_long,is_fraud,first_category,second_category,distance,distance_diff_prev,distance_diff_next,time_diff,flag
25964,2019-02-27 10:47:26,30044330818990,gas_transport,75.27,26.4722,-81.8122,ddc2a50df9eabac4f25a02bd7da852c9,1330339646,26.517113,-81.647460,0,gas,transport,0.170753,0.854511,0.836072,0 days 00:33:49,True
46869,2019-04-03 03:06:00,630423337322,grocery_net,50.70,48.8878,-118.2105,f117536386a1dbc2c307ded787dce6e0,1333422360,49.108039,-118.065350,0,grocery,net,0.263768,0.799038,0.707386,0 days 00:44:16,True
96227,2019-06-18 01:19:37,6011652924285713,gas_transport,67.19,38.2911,-92.7059,45d4e7a79454e4e41fd1b5823061ed16,1339982377,38.232737,-92.549284,0,gas,transport,0.167137,0.930755,1.084668,0 days 00:31:23,True
251418,2020-01-16 11:41:10,3560797065840735,misc_net,99.43,46.1838,-101.2589,74dea860ede702005e0fa73fb68ae58b,1358336470,46.558162,-101.356844,0,misc,net,0.386962,0.723392,0.760755,0 days 00:43:32,True
254236,2020-01-22 05:12:54,4681699462969,grocery_pos,48.21,35.8596,-86.4210,7cb7094b27ced9296c0a7a8245afd7a2,1358831574,36.150181,-86.319997,0,grocery,pos,0.307634,0.811215,0.806116,0 days 00:36:54,True
424298,2020-10-14 10:17:28,4716561796955522,gas_transport,32.34,48.2777,-112.8456,3f2cfaa364e2632df277b222c8941622,1381745848,48.403154,-112.777189,0,gas,transport,0.142894,1.007039,0.855509,0 days 00:33:15,True

In [84]:
df_data.loc[df_data['flag'] == True, 'is_fraud'] = 1

In [85]:
df_data[df_data['flag'] == True]

,trans_date_trans_time,cc_num,category,amt,lat,long,trans_num,unix_time,merch_lat,merch_long,is_fraud,first_category,second_category,distance,distance_diff_prev,distance_diff_next,time_diff,flag
25964,2019-02-27 10:47:26,30044330818990,gas_transport,75.27,26.4722,-81.8122,ddc2a50df9eabac4f25a02bd7da852c9,1330339646,26.517113,-81.647460,1,gas,transport,0.170753,0.854511,0.836072,0 days 00:33:49,True
46869,2019-04-03 03:06:00,630423337322,grocery_net,50.70,48.8878,-118.2105,f117536386a1dbc2c307ded787dce6e0,1333422360,49.108039,-118.065350,1,grocery,net,0.263768,0.799038,0.707386,0 days 00:44:16,True
96227,2019-06-18 01:19:37,6011652924285713,gas_transport,67.19,38.2911,-92.7059,45d4e7a79454e4e41fd1b5823061ed16,1339982377,38.232737,-92.549284,1,gas,transport,0.167137,0.930755,1.084668,0 days 00:31:23,True
251418,2020-01-16 11:41:10,3560797065840735,misc_net,99.43,46.1838,-101.2589,74dea860ede702005e0fa73fb68ae58b,1358336470,46.558162,-101.356844,1,misc,net,0.386962,0.723392,0.760755,0 days 00:43:32,True
254236,2020-01-22 05:12:54,4681699462969,grocery_pos,48.21,35.8596,-86.4210,7cb7094b27ced9296c0a7a8245afd7a2,1358831574,36.150181,-86.319997,1,grocery,pos,0.307634,0.811215,0.806116,0 days 00:36:54,True
424298,2020-10-14 10:17:28,4716561796955522,gas_transport,32.34,48.2777,-112.8456,3f2cfaa364e2632df277b222c8941622,1381745848,48.403154,-112.777189,1,gas,transport,0.142894,1.007039,0.855509,0 days 00:33:15,True

In [ ]:
# 피곤하니 여기서 마무리

### 데이터의 행의 의미를 파악하는것부터 진행해야하는 상황을 직접 겪어보니 시간 아까웠지만 좋은 경험이였다.
### 너무 개략적으로 진행하는 경향이 있으나 초보라서 그런지 고민할 부분들을 바로 처리하는 능력이 없어서 차근차근 제한 시간 안에 진행했다.